{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}Quizzes{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/quizzes.css' %}?v=1.0">
{% endblock %}

{% block header %}
{% url 'quizzes:quiz_detail' quiz.pk as quiz_url %}
{% include 'components/page_header.html' with page_title='Quiz Attempt' back_url=quiz_url show_moderate_btn=False %}
{% endblock %}

{% block content %}
{% include 'components/quizzes/attempt_card.html' with quiz=quiz question=question question_number=question_number total_questions=total_questions progress_percentage=progress_percentage %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/quiz-attempt.js' %}?v=1.0"></script>
{% endblock %}

